openapi: 3.2.0
info:
  title: HackNotice Third Party Accounts API
  version: '2026-08-22'
  summary: External threat-intelligence API for first-party, third-party and end-user breach monitoring, threat research and vendor assessments.
  description: 'HackNotice''s REST API over its external threat-intelligence platform: credential and breach alerts for first-party domains, third-party vendors and end users; dark-web / hacker-forum research search; and AI-assisted vendor security assessments.


    PROVENANCE: this document was DERIVED by API Evangelist from HackNotice''s own published Postman collection "HackNotice-API", reached at https://api-docs.hacknotice.com (HTTP 301 -> https://documenter.getpostman.com/view/806684/2sBXiri7pT), linked from HackNotice''s help centre article "API". Paths, methods, parameters, request bodies and tags are transcribed from that collection; nothing was invented. Concrete record ids in the collection''s example URLs were templated into path parameters, and every token-shaped example value was redacted.


    HackNotice publishes a rate limit of 1 query per second, and states that API access is granted to approved accounts only after a 30-minute consultation call.'
  termsOfService: https://hacknotice.com/businesstandc/
  contact:
    name: HackNotice Support
    url: https://hacknotice.zendesk.com/hc/en-us
    email: support@hacknotice.com
  x-api-evangelist-derived-from: https://api-docs.hacknotice.com
servers:
- url: https://extensionapi.hacknotice.com
  description: HackNotice production API host, as declared by HackNotice's own first-party n8n node (API_BASE_URL in credentials/HackNoticeApi.credentials.ts, github.com/HackNotice/n8n-nodes-hacknotice). The published Postman collection ships an internal {{url}} variable pointing at a developer VPN host, which is not the production base.
security:
- jwtAuth: []
- apiKeyAuth: []
tags:
- name: Third Party Accounts
  description: 'Third-party vendor monitoring: hacks, hack updates, watchlists, alerts and vendor security assessments.'
paths:
  /assessmentdatafiles/count:
    post:
      tags:
      - Third Party Accounts
      summary: Get the count of documents
      operationId: postGetTheCountOfDocuments2
      description: 'Folder: Assessments / assessment data files. Get the count of documents'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmentdatafiles/download/{documentId}:
    get:
      tags:
      - Third Party Accounts
      summary: Download a doc
      operationId: getDownloadADoc2
      description: 'Folder: Assessments / assessment data files. Download a Doc Purpose: Download the binary file for an assessment data file. Path Parameters Parameter Description docId Assessment data file document ID Behavior Streams file content from private storage Sets Content-Disposition using stored filename when available Responses Status Description 200 Binary file stream 400 Missing docId path parameter 401 Unauthorized user 404 File not found'
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmentdatafiles/invited:
    post:
      tags:
      - Third Party Accounts
      summary: Create a doc
      operationId: postCreateADoc5
      description: 'Folder: Assessments / assessment data files / invited assessment data files. Create Invited Assessment Data File Purpose: Upload a file for an assessment shared with the invited user. Auth Authorization: JWT REDACTED_EXAMPLE_TOKEN Content Type multipart/form-data Form-Data Fields Field Type Required Description assessment_id text Yes Target assessment ID the invited user can access data file Yes File to upload filename text No Optional display filename override note text No Optional note/description Responses Status Description 200 Created file metadata document 400 Missing assessment_id or missing data file field 401 Unauthorized user or invite access not valid'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                data:
                  type: string
                  format: binary
                assessment_id:
                  type: string
                filename:
                  type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmentdatafiles/invited/count:
    post:
      tags:
      - Third Party Accounts
      summary: Get the count of documents
      operationId: postGetTheCountOfDocuments
      description: 'Folder: Assessments / assessment data files / invited assessment data files. Get the Count of Documents Purpose: Return the total number of invited assessment data files for one assessment. Request Body Field Type Required Description assessment_id string Yes Assessment ID to count files for Body Example { "assessment_id": "69aadd3f4620e8b72b9ffffc" } Responses Status Description 200 Numeric count (for example 4 ) 400 Missing assessment_id 401 Unauthorized user or invite access not valid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assessment_id:
                  type: string
            example:
              assessment_id: 69aadd3f4620e8b72b9ffffc
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmentdatafiles/invited/download/{documentId}:
    get:
      tags:
      - Third Party Accounts
      summary: Download a doc
      operationId: getDownloadADoc
      description: 'Folder: Assessments / assessment data files / invited assessment data files. Download a Doc Purpose: Download the binary file for an invited assessment data file. Path Parameters Parameter Description docId Assessment data file document ID Behavior Streams file content from private storage Sets Content-Disposition using stored filename when available Responses Status Description 200 Binary file stream 400 Missing docId path parameter 401 Unauthorized user or invite access not valid 404 File not found'
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmentdatafiles/invited/page/{pageNum}:
    post:
      tags:
      - Third Party Accounts
      summary: Read a page of documents
      operationId: postReadAPageOfDocuments3
      description: 'Folder: Assessments / assessment data files / invited assessment data files. Read a Page of Documents Purpose: Return a paginated list of invited assessment data files for one assessment. Path Parameters Parameter Description pageNum Zero-based page index. Page size is fixed at 50 . Request Body Field Type Required Description assessment_id string Yes Assessment ID to list files for Body Example { "assessment_id": "69aadd3f4620e8b72b9ffffc" } Responses Status Description 200 Array of file metadata documents (newest first) 400 Missing assessment_id 401 Unauthorized user or invite access not valid'
      parameters:
      - name: pageNum
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assessment_id:
                  type: string
            example:
              assessment_id: 69aadd3f4620e8b72b9ffffc
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmentdatafiles/invited/{documentId}:
    get:
      tags:
      - Third Party Accounts
      summary: Read a doc
      operationId: getReadADoc6
      description: 'Folder: Assessments / assessment data files / invited assessment data files. Read a Doc Purpose: Return metadata for one invited assessment data file by document ID. Path Parameters Parameter Description docId Assessment data file document ID Responses Status Description 200 File metadata document 400 Missing docId path parameter 401 Unauthorized user or invite access not valid 404 File not found'
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
    delete:
      tags:
      - Third Party Accounts
      summary: Delete a doc
      operationId: deleteADoc6
      description: 'Folder: Assessments / assessment data files / invited assessment data files. Delete a Doc Purpose: Delete an invited assessment data file by document ID. Path Parameters Parameter Description docId Assessment data file document ID Behavior Invited users can only delete files they uploaded themselves Valid invite/share access to the related assessment is still required Deletes both file record and underlying file object Responses Status Description 200 File successfully deleted 400 Missing docId path parameter 401 Unauthorized user or invite access not valid 404 File not found or user did not upload this file 200 Response Example { "message": "File successfully deleted" }'
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmentdatafiles/page/{pageNum}:
    post:
      tags:
      - Third Party Accounts
      summary: Read a page of documents
      operationId: postReadAPageOfDocuments4
      description: 'Folder: Assessments / assessment data files. Read all domains.'
      parameters:
      - name: pageNum
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmentdatafiles/{fileId}:
    get:
      tags:
      - Third Party Accounts
      summary: Read a doc
      operationId: getReadADoc7
      description: 'Folder: Assessments / assessment data files. Read a Doc Purpose: Return metadata for one assessment data file by document ID. Path Parameters Parameter Description docId Assessment data file document ID Responses Status Description 200 File metadata document 400 Missing docId path parameter 401 Unauthorized user 404 File not found'
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
    put:
      tags:
      - Third Party Accounts
      summary: Update a doc
      operationId: putUpdateADoc4
      description: 'Folder: Assessments / assessment data files. Update a Doc Purpose: Update metadata for one assessment data file. Path Parameters Parameter Description docId Assessment data file document ID Request Body (Allowed Field) Field Type Description note string Updates note/description for the file Body Example { "note": "Updated evidence note" } Responses Status Description 200 Updated file metadata document 400 Missing docId path parameter 401 Unauthorized user 404 File not found'
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                note:
                  type: string
            example:
              note: note2
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
    delete:
      tags:
      - Third Party Accounts
      summary: Delete a doc
      operationId: deleteADoc7
      description: 'Folder: Assessments / assessment data files. Delete a Doc Purpose: Delete an assessment data file by document ID. Path Parameters Parameter Description docId Assessment data file document ID Behavior Deletes both file record and underlying file object Responses Status Description 200 File successfully deleted 400 Missing docId path parameter 401 Unauthorized user 404 File not found 200 Response Example { "message": "File successfully deleted" }'
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmentevents:
    post:
      tags:
      - Third Party Accounts
      summary: Create assessment event
      operationId: postCreateAssessmentEvent
      description: 'Folder: Assessments / assessmentevents. Create a new assessment event for the authenticated customer. Access Rule User must belong to an allowed customer type and be authenticated. Request Body Field Type Required Description assessment_id string ✅ Required The ID of the assessment this event belongs to. action string Optional The action being recorded (e.g. review_started ). assessor_notes string Optional Notes added by the assessor. company_notes string Optional Notes added by the company/vendor. file_link string Optional URL to a linked evidence file. assessment_data_file_id string Optional ID of an uploaded assessment data file. complete boolean Optional Whether the event marks the assessment as complete. Body Example: { "assessment_id": "64f1c8...", "action": "review_started", "assessor_notes": "Initial review completed", "company_notes": "Vendor provided SOC report", "file_link": "https://example.com/evidence.pdf", "assessment_data_file_id": "65ab...", "complete": false } Server-side Behavior The following fields are set automatically by the API and should not be included in the request body: customer_id user_id timestamp Responses Status Description 200 OK Event successfully created. Returns the created event object. 400 Bad Request assessment_id is missing from the request body. 401 Unauthorized User is not authenticated or token is invalid.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assessment_id:
                  type: string
                action:
                  type: string
                assessor_notes:
                  type: string
                company_notes:
                  type: string
                file_link:
                  type: string
                complete:
                  type: boolean
            example:
              assessment_id: 69a73dc2c0deb2b4840f44fc
              action: review_started
              assessor_notes: Initial review completed. Waiting on vendor responses.
              company_notes: Vendor requested 2-week extension.
              file_link: https://storage.example.com/assessments/evidence.pdf
              complete: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmentevents/count:
    post:
      tags:
      - Third Party Accounts
      summary: Count assessment events
      operationId: postCountAssessmentEvents
      description: 'Folder: Assessments / assessmentevents. Return the total number of assessment events for the authenticated customer. Request Body All fields are optional. If no body is provided, the count covers all events for the caller''s customer. Field Type Required Description assessment_id string Optional If provided, restricts the count to events belonging to this assessment. Body Example: { "assessment_id": "64f1c8..." } Behavior Counts only records scoped to the caller''s customer_id . If assessment_id is provided, returns the count for that specific assessment only. Responses Status Description 200 OK Returns a numeric count of matching assessment events. 401 Unauthorized User is not authenticated or token is invalid. 200 Response Example: 42'
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmentevents/invited:
    post:
      tags:
      - Third Party Accounts
      summary: Create invited assessment event
      operationId: postCreateInvitedAssessmentEvent
      description: 'Folder: Assessments / assessmentevents / invited. Creates a new event, note, or action for an assessment that the invited user has access to. Access Rule The user must have a valid invite or share link for the specified assessment_id . Request Body (JSON) Field Type Required Description assessment_id string ✅ Yes The ID of the assessment to attach the event to action string No The type of action (e.g. comment , review_started ) assessor_notes string No Notes added by the assessor company_notes string No Notes added by the company file_link string No URL to an associated file assessment_data_file_id string No ID of an uploaded assessment data file complete boolean No Whether the assessment is marked as complete Example: { "assessment_id": "64f1c8...", "action": "comment", "assessor_notes": "Reviewed controls", "company_notes": "Need SOC2 evidence", "file_link": "https://example.com/file.pdf", "assessment_data_file_id": "65ab...", "complete": false } Responses Status Description 200 OK Event created successfully. Returns the created event object. 400 Bad Request assessment_id is missing from the request body. 401 Unauthorized User is not authorized for the specified assessment.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assessment_id:
                  type: string
                action:
                  type: string
                assessor_notes:
                  type: string
                company_notes:
                  type: string
                file_link:
                  type: string
                complete:
                  type: boolean
            example:
              assessment_id: 69a73dc2c0deb2b4840f44fc
              action: review_started
              assessor_notes: Initial review completed. Waiting on vendor responses.
              company_notes: Vendor requested 2-week extension.
              file_link: https://storage.example.com/assessments/evidence.pdf
              complete: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmentevents/invited/page/{pageNum}:
    post:
      tags:
      - Third Party Accounts
      summary: List invited assessment events (paginated)
      operationId: postListInvitedAssessmentEventsPaginated
      description: 'Folder: Assessments / assessmentevents / invited. Returns up to 50 events for a single assessment, sorted by newest first. Path Parameters Parameter Description pageNum Zero-based page number. Page 0 returns the first 50 records. Request Body (JSON) Field Type Required Description assessment_id string ✅ Yes The ID of the assessment to retrieve events for Note: assessment_id is required in the request body even though this is a paginated read operation, due to the current implementation. Example: { "assessment_id": "64f1c8..." } Responses Status Description 200 OK Returns an array of event objects for the assessment. 400 Bad Request assessment_id is missing from the request body. 401 Unauthorized The invite or share link is invalid or has expired.'
      parameters:
      - name: pageNum
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assessment_id:
                  type: string
            example:
              assessment_id: 69a73dc2c0deb2b4840f44fc
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmentevents/invited/{documentId}:
    get:
      tags:
      - Third Party Accounts
      summary: Get one invited assessment event
      operationId: getOneInvitedAssessmentEvent
      description: 'Folder: Assessments / assessmentevents / invited. Fetch a single assessment event by its ID. Access Rule The user must have valid access to the assessment the event belongs to. Path Parameters Parameter Description docId The ID of the event to retrieve. Responses Status Description 200 OK Returns the event object. 400 Bad Request docId is missing. 401 Unauthorized User does not have valid access to the assessment. 404 Not Found No event found for the given ID.'
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
    delete:
      tags:
      - Third Party Accounts
      summary: Delete one invited assessment event
      operationId: deleteOneInvitedAssessmentEvent
      description: 'Folder: Assessments / assessmentevents / invited. Delete an event previously created by the invited user. Path Parameters Parameter Description docId The ID of the event to delete. Responses Status Description 200 OK Event successfully deleted. 400 Bad Request docId is missing. 401 Unauthorized User does not have valid access. 404 Not Found Event not found, or not owned by this invited user. 200 Response Example: { "message": "Assessment event successfully deleted" }'
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
    put:
      tags:
      - Third Party Accounts
      summary: Update one invited assessment event
      operationId: putUpdateOneInvitedAssessmentEvent
      description: 'Folder: Assessments / assessmentevents / invited. Update an event previously created by the invited user. Path Parameters Parameter Description docId The ID of the event to update. Request Body (JSON) Only the following fields can be updated: Field Type Description action string The type of action (e.g. comment ) assessor_notes string Notes added by the assessor company_notes string Notes added by the company file_link string URL to an associated file assessment_data_file_id string ID of an uploaded assessment data file complete boolean Whether the assessment is marked as complete Example: { "assessor_notes": "Updated after follow-up", "complete": true } Responses Status Description 200 OK Returns the updated event object. 400 Bad Request docId is missing. 401 Unauthorized User does not have valid access. 404 Not Found Event not found, or not owned by this invited user.'
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_link:
                  type: string
            example:
              file_link: https://storage.example.com/assessments/evidence2.pdf
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmentevents/page/{pageNum}:
    post:
      tags:
      - Third Party Accounts
      summary: List assessment events (paginated)
      operationId: postListAssessmentEventsPaginated
      description: 'Folder: Assessments / assessmentevents. Get a paginated list of assessment events for the authenticated customer. Path Parameters Parameter Type Description pageNum integer Zero-based page index. Use 0 for the first page. Request Body (Optional) Field Type Description assessment_id string If provided, filters results to events belonging to this assessment. Example: { "assessment_id": "64f1c8..." } Behavior Returns only events belonging to the authenticated user''s customer_id If assessment_id is provided, results are filtered to that assessment Results are sorted by timestamp descending (most recent first) Page size is fixed at 50 events per page Responses Status Description 200 OK Returns an array of assessment event objects. 401 Unauthorized User is not authenticated or token is invalid.'
      parameters:
      - name: pageNum
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assessment_id:
                  type: string
            example:
              assessment_id: 69a73dc2c0deb2b4840f44fc
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmentevents/{eventId}:
    get:
      tags:
      - Third Party Accounts
      summary: Get one assessment event
      operationId: getOneAssessmentEvent
      description: 'Folder: Assessments / assessmentevents. Fetch a single assessment event by its ID, scoped to the authenticated customer. Path Parameters Parameter Type Description docId string The ID of the assessment event to retrieve. Behavior Returns only events belonging to the authenticated user''s customer_id Returns null if the event exists but does not belong to your customer scope Responses Status Description 200 OK Returns the event object, or null if not found under your customer scope. 400 Bad Request docId path parameter is missing. 401 Unauthorized User is not authenticated or token is invalid.'
      parameters:
      - name: eventId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
    delete:
      tags:
      - Third Party Accounts
      summary: Delete one assessment event
      operationId: deleteOneAssessmentEvent
      description: 'Folder: Assessments / assessmentevents. Delete an existing assessment event, scoped to the authenticated customer. Path Parameters Parameter Type Description docId string The ID of the assessment event to delete. Responses Status Description 200 OK Event successfully deleted. 400 Bad Request docId path parameter is missing. 401 Unauthorized User is not authenticated or token is invalid. 200 Response Example: { "message": "Assessment event successfully deleted" }'
      parameters:
      - name: eventId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
    put:
      tags:
      - Third Party Accounts
      summary: Update one assessment event
      operationId: putUpdateOneAssessmentEvent
      description: 'Folder: Assessments / assessmentevents. Update selected fields of an existing assessment event, scoped to the authenticated customer. Path Parameters Parameter Type Description docId string The ID of the assessment event to update. Request Body Only the following fields may be updated: Field Type Description action string The action associated with the event. assessor_notes string Notes added by the assessor. company_notes string Notes added by the company. file_link string URL link to a related file. assessment_data_file_id string ID of an associated assessment data file. complete boolean Marks the event as complete or incomplete. Example: { "assessor_notes": "Reviewed and approved", "complete": true } Responses Status Description 200 OK Returns the updated event object. 400 Bad Request docId path parameter is missing. 401 Unauthorized User is not authenticated or token is invalid. 404 Not Found Event not found within your customer scope.'
      parameters:
      - name: eventId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assessor_notes:
                  type: string
            example:
              assessor_notes: Initial review completed. Waiting on vendor responses.  Overdue
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmentinvites:
    post:
      tags:
      - Third Party Accounts
      summary: Create invite
      operationId: postCreateInvite
      description: 'Folder: Assessments / assessmentinvites. Create Invite Purpose: Create a new invite/share record for a target item. Request Body Required Fields Field Type Description email string Email address of the person being invited itemType string Type of item being shared (e.g. "assessment" ) item_id string ID of the item being shared Optional Fields Field Type Description assessment_id string Associated assessment ID breach_id string Associated breach ID company_id string Associated company ID expiration_date string Explicit expiration date for the invite expireAfterDays number Number of days until the invite expires invited_user_id string ID of the user being invited (if already known) Convenience mapping: If company_id or breach_id is provided, the API will automatically set itemType and item_id — you do not need to set them manually in that case. Body Example { "email": "user@example.com", "itemType": "assessment", "item_id": "64f1c8...", "assessment_id": "64f1c8...", "expireAfterDays": 30 } Validation Condition Response Invalid itemType 400 Bad Request Invalid email 401 with validation message Responses Status Description 200 Created invite object (sanitized) 401 Unauthorized or missing required data'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assessment_id:
                  type: string
                email:
                  type: string
                company_id:
                  type: string
                expiration_date:
                  type: string
            example:
              assessment_id: 69a73dc2c0deb2b4840f44fc
              email: assessor@example.com
              company_id: 5b68ac28ab23eac48031a8fc
              expiration_date: '2025-03-31T23:59:59.000Z'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmentinvites/activate/{inviteCode}:
    post:
      tags:
      - Third Party Accounts
      summary: Activate invite
      operationId: postActivateInvite
      description: 'Folder: Assessments / assessmentinvites. Activate Invite Purpose: Mark an invite as activated. Path Parameters Parameter Description inviteCode The unique invite code from the invite link Validation Condition Result Invite does not exist 404 not found inviteCode missing 400 bad request Invite already activated 400 bad request Invite is expired 400 bad request expiration_date has passed Invite is automatically marked expired=true and request fails with 400 Responses Status Description 200 Updated invite object (sanitized), including activation fields 400 Missing code, already activated, or expired 404 Invite not found'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
      parameters:
      - name: inviteCode
        in: path
        required: true
        schema:
          type: string
  /assessmentinvites/code/{inviteCode}:
    get:
      tags:
      - Third Party Accounts
      summary: Read invite by code
      operationId: getReadInviteByCode
      description: 'Folder: Assessments / assessmentinvites. Read Invite by Code Purpose: Resolve invite details from an invite code, used during the invite landing/acceptance flow. Path Parameters Parameter Description inviteCode The unique invite code from the invite link Responses Status Description 200 Invite object (sanitized) 400 Missing inviteCode path parameter 404 Invite not found for the provided code'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
      parameters:
      - name: inviteCode
        in: path
        required: true
        schema:
          type: string
  /assessmentinvites/count:
    post:
      tags:
      - Third Party Accounts
      summary: Count invites
      operationId: postCountInvites
      description: 'Folder: Assessments / assessmentinvites. Count Invites Purpose: Count invites for the authenticated customer with optional filters. Request Body (Optional Filters) Field Type Description assessment_id string Filter by associated assessment ID breach_id string Filter by associated breach ID company_id string Filter by associated company ID itemType string Filter by item type (e.g. "assessment" ) activated boolean Filter by whether the invite has been activated expired boolean Filter by whether the invite has expired term string Case-insensitive regex search on email address Body Example { "itemType": "assessment", "activated": false, "term": "example.com" } Responses Status Description 200 Numeric count of matching invites 401 Unauthorized user 200 Response Example 18'
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmentinvites/mine:
    get:
      tags:
      - Third Party Accounts
      summary: My invites (invited user view)
      operationId: getMyInvitesInvitedUserView
      description: 'Folder: Assessments / assessmentinvites. My Invites Purpose: Return invites available to the logged-in invited user. Behavior Filters results to invites where invited_user_id matches the current authenticated user Includes only non-expired invites (based on expiration_date ) or invites created within the last 30 days as a fallback Enriches each invite with: customer_name — resolved from the inviting customer invited_by_name — resolved from the inviting user Removes raw customer_id and invited_by fields from the output Responses Status Description 200 Array of invite objects (possibly empty) 401 Unauthorized user'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmentinvites/page/{pageNum}:
    post:
      tags:
      - Third Party Accounts
      summary: List invites (paginated)
      operationId: postListInvitesPaginated
      description: 'Folder: Assessments / assessmentinvites. List Invites (Paginated) Purpose: List customer invites with optional filtering. Path Parameters Parameter Description pageNum Zero-based page index. Page 0 is the first page. Request Body (Optional Filters) Field Type Description assessment_id string Filter by associated assessment ID breach_id string Filter by associated breach ID company_id string Filter by associated company ID itemType string Filter by item type (e.g. "assessment" ) activated boolean Filter by whether the invite has been activated expired boolean Filter by whether the invite has expired term string Case-insensitive regex search on email address Body Example { "itemType": "assessment", "activated": false, "term": "example.com" } Behavior Results are scoped to the authenticated customer Sorted by timestamp descending (newest first) Page size is fixed at 50 records maximum Sensitive fields are removed from returned records Responses Status Description 200 Array of invite objects (sanitized) 401 Unauthorized user'
      parameters:
      - name: pageNum
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
            example: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmentinvites/{inviteId}:
    get:
      tags:
      - Third Party Accounts
      summary: Read invite by ID
      operationId: getReadInviteById
      description: 'Folder: Assessments / assessmentinvites. Read Invite by ID Purpose: Fetch one invite by DB ID (customer-scoped). Path Parameters Parameter Description docId The database ID of the invite to retrieve Responses Status Description 200 Invite object (sanitized) 400 Missing docId 401 Unauthorized'
      parameters:
      - name: inviteId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
    delete:
      tags:
      - Third Party Accounts
      summary: Delete invite by ID
      operationId: deleteInviteById
      description: 'Folder: Assessments / assessmentinvites. Delete Invite by ID Purpose: Delete an invite record (customer-scoped hard delete). Path Parameters Parameter Description docId The ID of the invite to delete Responses Status Description 200 Invite successfully deleted 400 Missing docId path parameter 401 Unauthorized user 200 Response Example { "message": "Share successfully deleted" }'
      parameters:
      - name: inviteId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
    put:
      tags:
      - Third Party Accounts
      summary: Update invite by ID
      operationId: putUpdateInviteById
      description: 'Folder: Assessments / assessmentinvites. Update Invite by ID Purpose: Update invite state or details (customer-scoped). Path Parameters Parameter Description docId The ID of the invite to update Request Body (Allowed Fields Only) Field Type Description activated boolean Whether the invite has been activated activated_date string Date the invite was activated expired boolean Whether the invite is marked as expired expiration_date string Expiration date for the invite breach_id string Associated breach ID assessment_id string Associated assessment ID company_id string Associated company ID Body Example { "expired": true, "expiration_date": "2024-12-31T00:00:00.000Z" } Responses Status Description 200 Updated invite object (sanitized) 400 Missing docId path parameter 401 Unauthorized user 404 Share/invite not found'
      parameters:
      - name: inviteId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                breach_id:
                  type: string
            example:
              breach_id: breach_id
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmentpreferences:
    post:
      tags:
      - Third Party Accounts
      summary: Create preferences
      operationId: postCreatePreferences
      description: 'Folder: Assessments / assessmentpreferences. Create Preferences Purpose: Create the initial assessment preferences document for the authenticated customer. Note: This endpoint will fail if preferences already exist for this customer. Use the update endpoint instead. Request Body Field Type Description auto_create_enabled boolean Whether assessments are auto-created auto_create_frequency string Frequency for auto-creation (e.g. "quarterly" ) default_template_id string Default template used for new assessments default_assessment_duration number Default duration for assessments (in days) tier_preferences array Per-tier configuration objects on_hack_alert boolean Trigger assessment on hack alert hack_alert_template_id string Template to use on hack alert on_ransomware_event boolean Trigger assessment on ransomware event ransomware_template_id string Template to use on ransomware event active boolean Whether preferences are active (defaults to true ) Body Example { "auto_create_enabled": true, "auto_create_frequency": "quarterly", "default_template_id": "64f1c8...", "default_assessment_duration": 30, "tier_preferences": [ { "tier": "critical", "template_id": "64f1c8...", "frequency": "quarterly", "enabled": true }, { "tier": "high", "template_id": "64f1c8...", "frequency": "semi_annual", "enabled": true }, { "tier": "medium", "template_id": "64f1c8...", "frequency": "annual", "enabled": true }, { "tier": "low", "template_id": "64f1c8...", "frequency": "annual", "enabled": false } ], "on_hack_alert": true, "hack_alert_template_id": "64f1c8...", "on_ransomware_event": true, "ransomware_template_id": "64f1c8...", "active": true } Server-Managed Fields The following fields are set automatically by the API and should not be included in the request body: Field Description customer_id Set from authenticated session timestamp Set at creation time updated Set at creation time Default: active is set to true if omitted. Responses Status Description 200 Created preferences object 40'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                auto_create_enabled:
                  type: boolean
                auto_create_frequency:
                  type: string
                default_template_id:
                  type: string
                tier_preferences:
                  type: array
                on_hack_alert:
                  type: boolean
                hack_alert_template_id:
                  type: string
                on_ransomware_event:
                  type: boolean
                ransomware_template_id:
                  type: string
            example:
              auto_create_enabled: true
              auto_create_frequency: quarterly
              default_template_id: YOUR_TEMPLATE_ID
              tier_preferences:
              - tier: critical
                template_id: YOUR_TEMPLATE_ID
                frequency: quarterly
                enabled: true
              - tier: high
                template_id: YOUR_TEMPLATE_ID
                frequency: semi_annual
                enabled: true
              - tier: medium
                template_id: YOUR_TEMPLATE_ID
                frequency: annual
                enabled: true
              - tier: low
                template_id: YOUR_TEMPLATE_ID
                frequency: annual
                enabled: false
              on_hack_alert: true
              hack_alert_template_id: YOUR_TEMPLATE_ID
              on_ransomware_event: true
              ransomware_template_id: YOUR_TEMPLATE_ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
    get:
      tags:
      - Third Party Accounts
      summary: Get preferences
      operationId: getPreferences
      description: 'Folder: Assessments / assessmentpreferences. Get Preferences Purpose: Retrieve the current customer''s assessment preferences. Behavior Returns the preferences object associated with the authenticated customer. If no preferences have been set yet, returns an empty object {} — not a 404 . Responses Status Description 200 Preferences object, or {} if none exists 401 Unauthorized user'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
    delete:
      tags:
      - Third Party Accounts
      summary: Delete preferences
      operationId: deletePreferences
      description: 'Folder: Assessments / assessmentpreferences. Delete Preferences Purpose: Delete the current customer''s assessment preferences document. Responses Status Description 200 Preferences successfully deleted 401 Unauthorized user 200 Response Example { "message": "Assessment preferences successfully deleted" }'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
    put:
      tags:
      - Third Party Accounts
      summary: Update preferences
      operationId: putUpdatePreferences
      description: 'Folder: Assessments / assessmentpreferences. Update Preferences Purpose: Update existing assessment preferences for the authenticated customer. Precondition: Preferences must already exist for this customer. Use the create endpoint if no preferences have been set yet. Request Body (Allowed Fields Only) Field Type Description auto_create_enabled boolean Whether assessments are auto-created auto_create_frequency string Frequency for auto-creation (e.g. "quarterly" ) default_template_id string Default template used for new assessments default_assessment_duration number Default duration for assessments (in days) tier_preferences array Per-tier configuration objects on_hack_alert boolean Trigger assessment on hack alert hack_alert_template_id string Template to use on hack alert on_ransomware_event boolean Trigger assessment on ransomware event ransomware_template_id string Template to use on ransomware event active boolean Whether preferences are active Body Example { "default_assessment_duration": 45, "auto_create_enabled": true, "on_hack_alert": false } Server-Managed Fields The updated timestamp is always refreshed automatically on every successful update — do not include it in the request body. Responses Status Description 200 Updated preferences object 401 Unauthorized user 404 Preferences not found for this customer'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                default_assessment_duration:
                  type: integer
            example:
              default_assessment_duration: 45
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessments:
    post:
      tags:
      - Third Party Accounts
      summary: Create a doc
      operationId: postCreateADoc4
      description: 'Folder: Assessments / assessments. Create a new assessment document.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company_id:
                  type: string
                name:
                  type: string
                description:
                  type: string
                status:
                  type: string
                active:
                  type: boolean
                start_date:
                  type: string
                due_date:
                  type: string
                assessment_cycle:
                  type: string
                risk_tier:
                  type: string
                invited_emails:
                  type: array
            example:
              company_id: 5b68ac28ab23eac48031a8fc
              name: Q1 2025 Security Assessment
              description: Annual third-party security review for Acme Corp.
              status: not_started
              active: true
              start_date: '2025-01-15T00:00:00.000Z'
              due_date: '2025-02-28T23:59:59.000Z'
              assessment_cycle: annual
              risk_tier: high
              invited_emails:
              - assessor@example.com
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessments/count:
    post:
      tags:
      - Third Party Accounts
      summary: post the count of documents
      operationId: postTheCountOfDocuments
      description: 'Folder: Assessments / assessments. Get the total count of assessment documents.'
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessments/invited/{documentId}:
    get:
      tags:
      - Third Party Accounts
      summary: Read an invite
      operationId: getReadAnInvite
      description: 'Folder: Assessments / assessments / invited. Retrieve an assessment invitation by its ID.'
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
    put:
      tags:
      - Third Party Accounts
      summary: update invite
      operationId: putUpdateInvite
      description: 'Folder: Assessments / assessments / invited. Update an existing assessment invitation by its ID.'
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                breach_id:
                  type: string
            example:
              breach_id: 69a766c1de7caace19b3d070
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessments/page/{pageNum}:
    post:
      tags:
      - Third Party Accounts
      summary: post a page of documents
      operationId: postAPageOfDocuments
      description: 'Folder: Assessments / assessments. Retrieve a paginated list of assessments. Use the page number in the URL to navigate through results.'
      parameters:
      - name: pageNum
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessments/projection:
    post:
      tags:
      - Third Party Accounts
      summary: projection
      operationId: postProjection
      description: 'Folder: Assessments / assessments. Retrieve a projected subset of fields from assessment documents.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessments/{assessmentId}:
    get:
      tags:
      - Third Party Accounts
      summary: Read a doc
      operationId: getReadADoc5
      description: 'Folder: Assessments / assessments. Retrieve an assessment document by its ID.'
      parameters:
      - name: assessmentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
    delete:
      tags:
      - Third Party Accounts
      summary: Delete a doc
      operationId: deleteADoc5
      description: 'Folder: Assessments / assessments. Delete an assessment document by its ID.'
      parameters:
      - name: assessmentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
    put:
      tags:
      - Third Party Accounts
      summary: update a doc
      operationId: putUpdateADoc3
      description: 'Folder: Assessments / assessments. Update an existing assessment document by its ID.'
      parameters:
      - name: assessmentId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                breach_id:
                  type: string
            example:
              breach_id: 69a766c1de7caace19b3d070
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmenttemplates:
    post:
      tags:
      - Third Party Accounts
      summary: Create template
      operationId: postCreateTemplate
      description: 'Folder: Assessments / assessmenttemplates. Create Assessment Template Purpose: Create a new customer-owned assessment template. Request Body Field Type Required Description name string ✅ Yes Name of the template description string No Human-readable description version number No Template version (default: 1 ) questions array No List of question objects active boolean No Whether the template is active (default: true ) frameworks array No List of associated framework names Body Example { "name": "Vendor Security Baseline", "description": "Core security due diligence template", "version": 1, "questions": [], "active": true, "frameworks": ["SOC 2", "ISO 27001"] } Server-Managed Fields These fields are set automatically by the API and should not be included in the request body: customer_id · user_id · timestamp · updated Defaults Field Default active true version 1 Responses Status Description 200 Created template object 400 name field is missing 401 Unauthorized user'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                version:
                  type: integer
                active:
                  type: boolean
                frameworks:
                  type: array
                questions:
                  type: array
            example:
              name: Ransomware Assessment
              description: A security posture assessment focused on the controls most relevant to ransomware attack vectors, including vulnerability and patch management, credential and access controls, remote access, endpoint and mobile device security, network segmentation, backup and recovery, and incident detection and response.
              version: 1
              active: true
              frameworks: []
              questions:
              - question: Have all critical and high-risk security patches been applied and validated across network devices?
                question_type: yes_no
                options:
                - 'Yes'
                - 'No'
                required: true
                order: 1
              - question: Are documented security standards enforced for network device configuration, patching, access control, password strength, and change authorization?
                question_type: yes_no
                options:
                - 'Yes'
                - 'No'
                required: true
                order: 2
              - question: Does a centrally managed vulnerability management program exist that covers system scanning, timely remediation, and exception handling?
                question_type: yes_no
                options:
                - 'Yes'
                - 'No'
                required: true
                order: 3
              - question: Are all systems and applications kept current through a regular patching cadence?
                question_type: yes_no
                options:
                - 'Yes'
                - 'No'
                required: true
                order: 4
              - question: Has leadership approved an access control policy governing system access rights based on data sensitivity and scope?
                question_type: yes_no
                options:
                - 'Yes'
                - 'No'
                required: true
                order: 5
              - question: Is a leadership-approved password policy in place that defines requirements for password creation, safeguarding, and lifecycle management?
                question_type: yes_no
                options:
                - 'Yes'
                - 'No'
                required: true
                order: 6
              - question: Does the password policy mandate that credentials remain confidential and are not shared?
                question_type: yes_no
                options:
                - 'Yes'
                - 'No'
                required: true
                order: 7
              - question: Are factory-default credentials on network devices changed or disabled before deployment to production?
                question_type: yes_no
                options:
                - 'Yes'
                - 'No'
                required: true
                order: 8
              - question: Are vendor-supplied default passwords eliminated or changed on all systems before they enter production use?
                question_type: yes_no
                options:
                - 'Yes'
                - 'No'
                required: true
                order: 9
              - question: Are controls in place to restrict personally-owned mobile devices from connecting to corporate systems and networks?
                question_type: yes_no
                options:
                - 'Yes'
                - 'No'
                required: true
                order: 10
              - question: Has a mobile device management program been implemented that enforces minimum security standards for accessing organizational systems, applications, and email?
                question_type: yes_no
                options:
                - 'Yes'
                - 'No'
                required: true
                order: 11
              - question: Do any unmanaged or non-corporate computing devices connect to the organization's network?
                question_type: yes_no
                options:
                - 'Yes'
                - 'No'
                required: true
                order: 12
              - question: Are any personally-owned (BYOD) mobile devices used to access scoped or sensitive data?
                question_type: yes_no
                options:
                - 'Yes'
                - 'No'
                required: true
                order: 13
              - question: Is a leadership-approved remote access policy in place for scoped systems and data, and is it reviewed at least annually?
                question_type: yes_no
                options:
                - 'Yes'
                - 'No'
                required: true
                order: 14
              - question: Does a DMZ exist to isolate internet-facing or externally accessible systems from the internal network?
                question_type: yes_no
                options:
                - 'Yes'
                - 'No'
                required: true
                order: 15
              - question: Is scoped data regularly backed up and stored at a separate offsite location?
                question_type: yes_no
                options:
                - 'Yes'
                - 'No'
                required: true
                order: 16
              - question: Does a documented incident response plan exist that clearly defines escalation procedures?
                question_type: yes_no
                options:
                - 'Yes'
                - 'No'
                required: true
                order: 17
              - question: Does ongoing security monitoring generate alerts for malware detections and anomalous or suspicious behavior?
                question_type: yes_no
                options:
                - 'Yes'
                - 'No'
                required: true
                order: 18
              - question: Are policies and procedures in place for detecting and reporting unauthorized access, use, or disclosure of scoped data?
                question_type: yes_no
                options:
                - 'Yes'
                - 'No'
                required: true
                order: 19
              - question: Are documented procedures maintained for identifying and reporting privacy incidents involving potential or actual compromise of client data?
                question_type: yes_no
                options:
                - 'Yes'
                - 'No'
                required: true
                order: 20
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmenttemplates/count:
    post:
      tags:
      - Third Party Accounts
      summary: Count templates
      operationId: postCountTemplates
      description: 'Folder: Assessments / assessmenttemplates. Count Templates Purpose: Return the total number of visible templates (customer-owned + global), optionally filtered. Request Body (Optional Filters) Field Type Description active boolean Filter by active status term string Case-insensitive search on name framework string Exact match inside the frameworks array Body Example { "active": true, "term": "vendor", "framework": "SOC 2" } Responses Status Description 200 Numeric count of matching templates (e.g. 42 ) 401 Unauthorized user'
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmenttemplates/frameworks:
    get:
      tags:
      - Third Party Accounts
      summary: List available frameworks
      operationId: getListAvailableFrameworks
      description: 'Folder: Assessments / assessmenttemplates. List Available Frameworks Purpose: Return distinct framework values from all visible templates (customer-owned + global), sorted alphabetically. Behavior Aggregates all unique values from the frameworks field across both customer-owned and global templates Results are returned sorted alphabetically Responses Status Description 200 Sorted array of distinct framework strings 401 Unauthorized user 500 Internal server error 200 Response Example ["ISO 27001", "NIST", "SOC 2"]'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assessment_id:
                  type: string
            example:
              assessment_id: 69a73dc2c0deb2b4840f44fc
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmenttemplates/page/{pageNum}:
    post:
      tags:
      - Third Party Accounts
      summary: List templates (paginated)
      operationId: postListTemplatesPaginated
      description: 'Folder: Assessments / assessmenttemplates. List Templates (Paginated) Purpose: Return a paginated list of assessment templates visible to the authenticated user — includes both customer-owned and global HackNotice templates. Path Parameters Parameter Description pageNum Zero-based page index. Page 0 is the first page. Page size is fixed at 50 . Request Body (Optional Filters) Field Type Description active boolean Filter by active status term string Case-insensitive search on name framework string Exact match inside the frameworks array Body Example { "active": true, "term": "vendor", "framework": "SOC 2" } Behavior Returns templates where customer_id matches the authenticated user''s customer or customer_id is empty (global templates) Results are sorted by timestamp descending (newest first) Page size is fixed at 50 results per page Responses Status Description 200 Array of template objects 401 Unauthorized user'
      parameters:
      - name: pageNum
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /assessmenttemplates/{templateId}:
    get:
      tags:
      - Third Party Accounts
      summary: Read one template
      operationId: getReadOneTemplate
      description: 'Folder: Assessments / assessmenttemplates. Read One Template Purpose: Fetch a single assessment template by ID, if it is visible to the authenticated customer (customer-owned or global). Path Parameters Parameter Description docId The ID of the template to retrieve Behavior Returns the template if it belongs to the authenticated customer or is a global HackNotice template ( customer_id is empty) Returns null if no matching template is found within the customer''s visible scope Responses Status Description 200 Template object, or null if not found within visible scope 400 docId path parameter is missing 401 Unauthorized user'
      parameters:
      - name: templateId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
    delete:
      tags:
      - Third Party Accounts
      summary: Delete one template
      operationId: deleteOneTemplate
      description: 'Folder: Assessments / assessmenttemplates. Delete One Template Purpose: Delete a customer-owned assessment template by ID. Path Parameters Parameter Description docId The ID of the template to delete Responses Status Description 200 Template successfully deleted 400 docId path parameter is missing 401 Unauthorized user 200 Response Example { "message": "Assessment template successfully deleted" }'
      parameters:
      - name: templateId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
    put:
      tags:
      - Third Party Accounts
      summary: Update one template
      operationId: putUpdateOneTemplate
      description: 'Folder: Assessments / assessmenttemplates. Update One Template Purpose: Update a customer-owned assessment template by ID. Path Parameters Parameter Description docId The ID of the template to update Request Body (Allowed Fields Only) Field Type Description name string Name of the template description string Human-readable description version number Template version questions array List of question objects active boolean Whether the template is active frameworks array List of associated framework names Body Example { "name": "Vendor Security Baseline v2", "description": "Updated security due diligence template", "version": 2, "active": true, "frameworks": ["SOC 2", "ISO 27001", "NIST"] } Server-Managed Fields The updated timestamp is always refreshed automatically on every successful update — do not include it in the request body. Responses Status Description 200 Updated template object 400 docId path parameter is missing 401 Unauthorized user 404 Template not found, or not owned by this customer'
      parameters:
      - name: templateId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
            example:
              description: Standard security assessment for vendors
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /breaches/count/range:
    post:
      tags:
      - Third Party Accounts
      summary: Read count of documents within a date range
      operationId: postReadCountOfDocumentsWithinADateRange
      description: 'Folder: All Hacks.'
      parameters:
      - name: apikey
        in: header
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                start_date:
                  type: string
                  description: Required. Date in YYYY-MM-DD format
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /breaches/new/count/:
    post:
      tags:
      - Third Party Accounts
      summary: Read count of all documents
      operationId: postReadCountOfAllDocuments
      description: 'Folder: All Hacks.'
      parameters:
      - name: apikey
        in: header
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                sourcetype:
                  type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /breaches/new/page/{pageNum}:
    post:
      tags:
      - Third Party Accounts
      summary: Read a page of documents
      operationId: postReadAPageOfDocuments
      description: 'Folder: All Hacks.'
      parameters:
      - name: pageNum
        in: path
        required: true
        schema:
          type: integer
      - name: apikey
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /breaches/new/timestamp/page/{pageNum}:
    get:
      tags:
      - Third Party Accounts
      summary: Read a page of documents sorted by timestamp (creation)
      operationId: getReadAPageOfDocumentsSortedByTimestampCreation
      description: 'Folder: All Hacks.'
      parameters:
      - name: pageNum
        in: path
        required: true
        schema:
          type: integer
      - name: apikey
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /breaches/new/{documentId}:
    get:
      tags:
      - Third Party Accounts
      summary: Read a document
      operationId: getReadADocument6
      description: 'Folder: All Hacks. Get a document by the document ID.'
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: string
      - name: apikey
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid JWT / API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwtAuth: []
      - apiKeyAuth: []
  /breaches/search/page/{pageNum}:
    post:
      tags:
      - Third Party Accounts
      summary: Search a page
      operationId: postSearchAPage
      description: 'Folder: All Hacks. Searches all documents and returns documents in reverse chronological order.'
      parameters:
      - name: pageNum
        in: path
        required: true
        schema:
          type: integer
      - name: apikey
        in: header
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                term:
                  type: string
                  description: Inclusive string search for the value in the domain or title
      responses:
        '200':
          description: Search a page
          content:
            application/json:
              schema:
                type: array
              example:
              - breachdates: []
                tags: []
                othersources: []
                tmptitles: []
                tmplinks: []
                othersourcestype: []
                othersourcesharvester: []
                openAIProcessed: true
                taggroups:
                - business
                _id: 685ee5b03d84924964b85827
                processed: true
                domain: morningsideservices.com
                company_name: US:Morningsideservices
                published_date: '2025-06-27T18:39:31.902Z'
                published_mo_yr: '2025-06-01T00:00:00.000Z'
                records: 0
                hacker: ''
                breach_type: ''
                breach_cause: ''
                location: ''
                industry: ''
                news_source: ''
                description: 'Company allegedly hacked as reported by Kawa4096 with details: 2025-06-20'
                source: http://kawasa2qo7345dt7ogxmx7qmn6z2hnwaoi3h5aeosupozkddqwp6lqqd.onion/
                sourcetype: ransomware
                harvester: harvest_ransomware_kawa4096
                breachDimensions:
                - _id: 685ee7f01929b24fb3ae8b1e
                  key: breachScope
                  value: full
                  displayName: Breach Scope
                - _id: 685ee7f01929b24fb3ae8b1f
                  key: breachIntention
                  value: intentional
                  displayName: Breach Intention
                - _id: 685ee7f01929b24fb3ae8b20
                  key: breachAttackSource
                  value: hacker
                  displayName: Breach Attack
                - _id: 685ee7f01929b24fb3ae8b21
                  key: breachStatus
                  value: ongoing
                  displayName: Breach Status
                predicted_tags:
                - _id: 685ee7f01929b24fb3ae8b1c
                  tags: confidential-information
                  confidence:
                    $numberDecimal: '1'
                timestamp: '2025-06-27T18:41:41.381Z'
                geoindattempted: true
                breachScreenshot: screenshot_685ee5b03d84924964b85827_1751050073.png
                screenshotAttempted: true
                screenshotAttemptedDate: '2025-06-27T18:48:01.052Z'
                openAIProcessAttempted: true
                analysisDate: '2025-06-27T18:50:24.172Z'
                tag_date: '2025-06-27T18:50:24.170Z'
                isOpenAIProcessing: false
                severity: 5
                severityupdateddate: '2025-06-27T18:58:02.737Z'
                severityalertsupdated: true
              - breachdates: []
                tags: []
                othersources: []
                tmptitles: []
                tmplinks: []
                othersourcestype: []
                othersourcesharvester: []
                openAIProcessed: true
                taggroups:
                - PII
                - business
                - financial
                _id: 685ee38695c98b52af11f2d9
                processed: true
                company_name: Islington Golf Club
                harvester: harvest_ransomware_play_news
                source: http://k7kg3jqxang3wh7hnmaiokchk7qoebupfgoik6rha6mjpzwupwtj25yd.onion/topic.php?id=4kpOHpTbWy01r
                published_mo_yr: '2025-06-01T00:00:00.000Z'
                timestamp: '2025-06-27T18:36:22.026Z'
                description: 'Company allegedly hacked as reported by Play News ransomware with details:  Amusement Parks, Arcades & Attractions Private and personal confidential data, clients documents, budget, payroll, accounting, taxes, IDs, finance information and etc.'
                sourcetype: ransomware
                implied: true
                published_date: '2025-06-27T18:36:22.026Z'
                domain: islingtongolfclub.com
                breachDimensions:
                - _id: 685ee7f51929b24fb3ae8b52
                  key: breachScope
                  value: full
                  displayName: Breach Scope
                - _id: 685ee7f51929b24fb3ae8b53
                  key: breachStatus
                  value: ongoing
                  displayName: Breach Status
                predicted_tags:
                - _id: 685ee7f51929b24fb3ae8b4a
                  tags: id-names
                  confidence:
                    $numberDecimal: '1'
                - _id: 685ee7f51929b24fb3ae8b4b
                  tags: id-dobs
                  confidence:
                    $numberDecimal: '1'
                - _id: 685ee7f51929b24fb3ae8b4c
                  tags: id-address
                  confidence:
                    $numberDecimal: '1'
                - _id: 685ee7f51929b24fb3ae8b4d
                  tags: financial-details
                  confidence:
                    $numberDecimal: '1'
                - _id: 685ee7f51929b24fb3ae8b4e
                  tags: customer-details
                  confidence:
                    $numberDecimal: '1'
                - _id: 685ee7f51929b24fb3ae8b4f
                  tags: employment-details
                  confidence:
                    $numberDecimal: '1'
                - _id: 685ee7f51929b24fb3ae8b50
                  tags: confidential-information
                  confidence:
                    $numberDecimal: '1'
                severity: 5
                severityupdateddate: '2025-06-27T18:37:51.414Z'
                geoindattempted: true
                severityalertsupdated: true
                breachScreenshot: screenshot_685ee38695c98b52af11f2d9_1751050099.png
                screenshotAttempted: true
                screenshotAttemptedDate: '2025-06-27T18:48:27.134Z'
                openAIProcessAttempted: true
                analysisDate: '2025-06-27T18:50:29.653Z'
                tag_date: '2025-06-27T18:50:29.652Z'
                isOpenAIProcessing: false
                geoindupdated: false
                topnaicscode: null
                region: North America
              - breachdates: []
                tags: []
                othersources: []
                tmptitles: []
                tmplinks: []
                othersourcestype: []
                othersourcesharvester: []
                openAIProcessed: true
                taggroups:
                - PII
                - business
                - financial
                _id: 685ee38595c98b52af11f0f6
                processed: true
                company_name: Cartel Communication Systems
                harvester: harvest_ransomware_play_news
                source: http://k7kg3jqxang3wh7hnmaiokchk7qoebupfgoik6rha6mjpzwupwtj25yd.onion/topic.php?id=Q1CmiLcAEoPHVo
                published_mo_yr: '2025-06-01T00:00:00.000Z'
                timestamp: '2025-06-27T18:36:21.844Z'
                description: 'Company allegedly hacked as reported by Play News ransomware with details:  Manufacturing Private and personal confidential data, clients documents, budget, payroll, accounting, taxes, IDs, finance information and etc.'
                sourcetype: ransomware
                implied: true
                published_date: '2025-06-27T18:36:21.844Z'
                domain: cartelsys.com
                breachDimensions:
                - _id: 685ee7f91929b24fb3ae8b65
                  key: breachScope
                  value: partial
                  displayName: Breach Scope
                - _id: 685ee7f91929b24fb3ae8b66
                  key: breachStatus
                  value: ongoing
                  displayName: Breach Status
                predicted_tags:
                - _id: 685ee7f91929b24fb3ae8b60
                  tags: confidential-information
                  confidence:
                    $numberDecimal: '1'
                - _id: 685ee7f91929b24fb3ae8b61
                  tags: customer-details
                  confidence:
                    $numberDecimal: '1'
                - _id: 685ee7f91929b24fb3ae8b62
                  tags: financial-details
                  confidence:
                    $numberDecimal: '1'
                - _id: 685ee7f91929b24fb3ae8b63
                  tags: id-names
                  confidence:
                    $numberDecimal: '1'
                severity: 5
                severityupdateddate: '2025-06-27T18:37:51.414Z'
                geoindattempted: true
                severityalertsupdated: true
                breachScreenshot: screenshot_685ee38595c98b52af11f0f6_1751050116.png
                screenshotAttempted: true
                screenshotAttemptedDate: '2025-06-27T18:48:44.743Z'
                openAIProcessAttempted: true
                analysisDate: '2025-06-27T18:50:33.253Z'
[...]
